@model Blog.Models.Category
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <div class="page-pretitle">
                    Overview
                </div>
                <h2 class="page-title">
                    @ViewData["Title"]
                </h2>
            </div>
            <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                    <span class="d-none d-sm-inline">
                        <a href="/categories" class="btn">
                            Back
                        </a>
                    </span>
                </div>
            </div>
        </div>

        <!-- Page body -->
        <div class="page-body">
            <div class="container-xl">
                <div class="col-md-6 mx-auto">
                    <form class="card" method="post" action="/categories/update/@Model.Id">
                        <div class="card-header">
                            <h3 class="card-title">Update category form</h3>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label class="form-label required">Category ID</label>
                                <div>
                                    <input asp-for="Id" type="text" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label required">Category title</label>
                                <div>
                                    <input asp-for="Name" type="text"
                                        class="form-control @(ViewData.ModelState["Name"]?.Errors.Count > 0 ? "is-invalid" : "")"
                                        placeholder="Enter category title">
                                    <span asp-validation-for="Name" class="invalid-feedback"></span>
                                </div>
                            </div>
                            @if (ViewData["success"] != null)
                            {
                                <div class="alert alert-success" role="alert">
                                    <div class="d-flex">
                                        <div>
                                            <!-- Download SVG icon from http://tabler-icons.io/i/check -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon alert-icon" width="24"
                                                height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M5 12l5 5l10 -10"></path>
                                            </svg>
                                        </div>
                                        <div>
                                            Wow! Everything worked!
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>

                        <div class="card-footer text-end">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
