@import url('https://rsms.me/inter/inter.css');
:root {
      --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
}
body {
      font-feature-settings: "cv03", "cv04", "cv11";
}
.truncate-3-lines {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;  
      overflow: hidden;
      text-overflow: ellipsis;
      }