<a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
    <span class="avatar avatar-sm" style="background-image: url(@Model.Avatar)"></span>
    <div class="d-none d-xl-block ps-2">
        <div>@Model.Name</div>
        <div class="mt-1 small text-muted">@Model.Email</div>
    </div>
</a>